@{
    ViewData["Title"] = "PFT - Budgets";
}

@model PFT.Models.Budgets.BudgetsModel

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const addBudgetUrl = '@Url.Action("AddBudget", "Budgets")';
    </script>
    <script src="~/js/Budgets.js"></script>
}

<div class="content">
    <h1 class="display-4">Budgets</h1>

    <div id="budgets-container" data-refresh-url="@Url.Action("RefreshData", "Budgets")">
        @await Html.PartialAsync("_BudgetsViewPartial", Model)
    </div>

    <button id="add-budget-button">Create new budget</button>
    <button id="remove-budget-button">Remove budget</button>
    <button id="change-budget-button">Change budget</button>
</div>

<!-- Add Modal -->
<div class="budget-action-modal" data-modal="add">
    <h2>Add budget</h2>
    <div class="data-container">
        <label for="name">Name:</label>
        <input type="text" id="name" name="budgetName" value="Groceries">
    </div> 

    <div class="data-container">
        <label for="quantity">Amount:</label>
        <div class="currency-input">
            <span>€</span>
            <input type="number" step="any" min="0" id="amount" name="amount" value="200" />
        </div>
    </div>

    <div class="data-container">
        <label asp-for="TimeframeToAdd" class="col-md-2 control-label">Type:</label>
        <select id="timeframe" name="Type"
                asp-for="TimeframeToAdd"
                asp-items="Html.GetEnumSelectList<PFT.Models.Budgets.Timeframe>()">
        </select>
    </div>

    
    <div class="modal-buttons">
        <button class="cancel-button" data-modal="add">Cancel</button>
        <button class="confirm-button" data-modal="add">Confirm</button>
    </div>
</div>

<!-- Remove Modal -->
<div class="budget-action-modal" data-modal="remove">
    <h2>Remove budget</h2>
    <p>Are you sure you want to remove this budget?</p>
    <div class="modal-buttons">
        <button class="cancel-button" data-modal="remove">Cancel</button>
        <button class="confirm-button" data-modal="remove">Confirm</button>
    </div>
</div>

<!-- Change Quantity Modal -->
<div class="budget-action-modal" data-modal="change">
    <h2>Change amount</h2>
    <div class="data-container">
        <label for="quantity">Amount:</label>
        <input type="number" id="change-amount" step="any" min="0" value="300">
    </div>
    <div class="modal-buttons">
        <button class="cancel-button" data-modal="change">Cancel</button>
        <button class="confirm-button" data-modal="change">Confirm</button>
    </div>
</div>
