@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Personal Finance Tracker</h1>
</div>

<div id="net-worth-container">
<h2>Net worth: </h2>
<p>Your financial net worth is calculated by subtracting all debts from all your posessions (investments, house, cash etc)</p>
</div>
