@{
    ViewData["Title"] = "PFT - Investments";
}

@model InvestmentsModel
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@section Scripts {
    <script>
        $("#RefreshInvestmentsButton").click(function () {
            $.ajax({
                url: '@Url.Action("RefreshData", "Investments")',
                type: 'POST',
                success: function(html){
                    $("#investments-container").html(html);
                }
            });
        });

    </script>
}

<div class="content">
    <h1 class="display-4">Investments</h1>
    <div id="investments-container">
        @await Html.PartialAsync("_InvestmentTablePartial", Model)
        </div>
</div>

<button id="RefreshInvestmentsButton">Refresh</button>
