body {
}

.main-content {
    display:flex;
    justify-content:space-between;
}

#total-budget-text{
    color:white;
}

#budget-instances-list {
}

.budget-instance {
    background: #284B63;
    border-radius: 20px;
    width: 40vw;
    max-height: 10vh;
    margin: 1vh 1vw;
}

.selected-budget {
    background-color: #48cae4;
}

.budget-data > h2 {
    color: white;
}

.budget-data > span{
    color:white;
}

.budget-instance > progress {
    margin:1vh 2vw;
    width:90%;
    height:3vh;
}

.budget-data{
    padding:0.5vh 1vw;
    display:flex;
    justify-content:space-between;
}

.budget-action-modal {
    position: absolute;
    display: none;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background: #ade8f4;
    border-radius: 20px;
    padding: 2vh 2vw;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    height: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.data-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.data-container > input{
    border:none;
}

.budget-action-modal > h2 {
    color: black;
}

.currency-input {
    display: flex;
    align-items: center;
}

    .currency-input span {
        height:100%;
        padding: 0 4px;
        background-color: #ade8f4;
        border-right: none;
        font-size: 1.2rem;
    }

    .currency-input input {
        height:100%;
        border: 1px solid #ccc;
        border-left: none;
        border-radius: 0 4px 4px 0;
        padding: 6px;
        font-size: 1rem;
        width: 100%;
    }


#budgets-chart{
    width:30%;
    height:auto;
}