html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: #caf0f8ff;
    margin-bottom: 60px;
    background-color: #678a9c;
}

a{
    color:white;
}

.container-fluid{
    height:100%;
}

table {
    width: 70%;
    border: 1px solid black;
}

th, td {
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    border: 1px solid black;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

nav {
    background-color: red;
}

footer {
    background-color: #364852;
}

#RefreshInvestmentsButton{
    float:right;
    width:6vw;
    border:none;
    font-size:1.5rem;
}