@font-face {
    font-family: "Gowun Dodum", sans-serif;
    src: url("../fonts/GowunDodum-Regular.ttf") format('truetype');
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family:'Gowun Dodum';
    background:#353535;
}

a{
    color:white;
}

.container-fluid{
    height:100%;
}

footer, header {
    background-color: #3C6E71;
}

footer > div{
    color:#FFFFFF;
}

button{
    padding:1vh 1vw;
    border:none;
    font-size:1.2rem;
    background:#284B63;
    color:#ffffff;
}

#RefreshInvestmentsButton{
    float:right;
}